//VARIABLES
$color-fondo: #1D1A1F;
$color-principal: rgb(236, 236, 236);
$color-secundario: rgb(173, 173, 173);
$color-complementos: #A259FF;
$color-complementos2: rgb(221, 234, 79);

$letra-texto: "Montserrat", sans-serif;
$letra-titulos:"Dela Gothic One", sans-serif;


//SECCION1: BANNER
.banner{
    //background-color: red;
    margin-top: 70px;
    display: flex;
    padding: 40px 150px;
    height: 90vh;

    .nombre{
        //background-color: yellow;
        margin-top: 150px;

    
        h2{
            //margin-top: 25%;
            font-family: $letra-texto;
            font-weight: 700;
            color: $color-principal;
            font-size: 1.3em;
        }

        h1{
            
            //background-color: red;
            font-size: 7.2em;
            font-family: $letra-titulos;
            color: $color-principal;
            text-shadow: -2.5px 2.5px 0px #A259FF, -4.5px 4.5px 0px #DDEA4F ;
        }

    }
    .descripcion_banner{
            
          


        p{
            //background-color: red;
            font-family: $letra-texto;
            font-weight: 600;
            color: $color-principal;
            font-size: 1.2em;
            margin-top: 15px;
            display: block;
            white-space: nowrap;
            border-right: 3px solid;
            display: inline-block;
            width: 410px;
            animation: typing 4s steps(40), blink .5s step-end infinite alternate;
            overflow: hidden;
            color: $color-principal;

        }

        @keyframes typing{
            from{
                width: 0%;
            }
            
           
        }
        
        @keyframes blink{
            50%{
                border-color:transparent;
            }
        }

        

        span{
            color: $color-complementos2;
        }

    }
    .logos_navbar{
        //background-color: red;
        margin-top: 20px;
        a:nth-child(1){
            margin-right: 10px;
        }
        // a:nth-child(2){
        //     margin-right: 10px;
        // }
        img:hover{
            color: #A259FF;
        }

    }
   
    

   

}

//SECCION2: SOBRE MÍ
.sobre-mi{
   // background-color: green;
    padding: 50px 80px ;
    
    
    .titulo{
        text-align: center;
        font-size: 1.7em;
        font-family: $letra-titulos;
        color: $color-complementos;
            
    }

    .contenedor_sobremi{
        display: flex;
        //background-color: red;
        margin-top: 50px;
        

        .descripcion{
            //background-color: green;
            padding: 25px;
            .ubicacion{
                display: flex;
                align-items: center;
                font-family: $letra-texto;
                font-weight: 500;
                color: $color-principal;
                font-size: 1em;
    
                span{
                    margin-right: 5px;
                }

            }
            .texto_descripcion{
                //background-color: red;
                font-family: $letra-texto;
                font-weight: 500;
                color: $color-principal;
                margin-top: 20px;
                font-size: 1.2em;
                p{
                    margin-top: 20px;
                }

                a{
                    text-decoration: none;
                    color: $color-complementos;
                }

             
                
            }
            .button_cv{
                background-color: none;
                border:1px solid #DDEA4F;
                margin-top: 50px;
                height: 60px;
                width: 170px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $letra-texto;
                font-weight: 500;
                color: $color-complementos2;
                transition: all 0.3s;
                

                &:hover{
                    box-shadow: 0 0 6px rgb(221,234,79) inset,
                    0 0 10px 2px rgba(255,175,0,0.5) inset,
                    0 0 15px 4px rgba(255,225,0,0.4) inset,
                    5px 5px 5px rgba(0, 0, 0, 0.2);
                    transition: all 0.3s;
                }
            }

            
        }


   

        .memoji{
           //background-color: red;
           display: flex;
           justify-content: flex-end;

    
           video{
               //margin-top: 25px;
               width: 80%;
               

           }
    }


    }
}

//SECION3: TECNOLOGÍAS
.tecnologias{
    //background-color: red;
    padding: 50px 80px ;

    .titulo{
        text-align: center;
        font-size: 1.7em;
        font-family: $letra-titulos;
        color: $color-complementos;
    }

    .texto{
        text-align: center;
        font-family: $letra-texto;
        font-weight: 500;
        color: $color-principal;
        margin-top: 40px;
        font-size: 1.2em;
    }

    .contenedor_tecnologias{
        
        margin-top: 70px;
        overflow: hidden;
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
       
        @keyframes scroll{
            0%{
                transform: translateX(100%);
            }
            100%{
                transform: translateX(-100%);
            }
        }
        @keyframes scroll2{
            0%{
                transform: translateX(-100%);
            }
            100%{
                transform: translateX(100%);
            }
        }
        .scroll1{
            display: flex;
            gap: 1rem;
            flex-wrap: nowrap;
            width: max-content;
            padding-bottom: 16px;
            animation: scroll 40s linear infinite;
             
        }
        .scroll2{
            display: flex;
            gap: 1rem;
            flex-wrap: nowrap;
            width: max-content;
            padding-bottom: 16px;
            animation: scroll2 40s linear infinite;
        }
        .card{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 2px solid $color-principal;
            color: $color-principal;
            font-family: $letra-texto;
            font-weight: 500;
            border-radius: 7px;
            padding: 5px 10px;
            font-size: 1.2rem;
            cursor: default;
            height: 50px;
            width: 100%;
        }

       
    }

}

//SECCION4: PORTFOLIO
.portfolio{
    padding: 50px 80px ;
    .titulo{
        text-align: center;
        font-size: 1.7em;
        font-family: $letra-titulos;
        color: $color-complementos;
    }

    .galery_portfolio{
        .categorias{
            ul{
                display: flex;
                list-style: none;
                justify-content: center;
                gap: 15px;
                margin-top: 50px;

                li{
                    color: $color-secundario;
                    font-family: $letra-texto;
                    font-weight: 600;
                    font-size: 1.1em;
                }

                li.active{
                    color: $color-complementos2;
                }
            }
        }

        .proyectos_galery{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .card_proyecto{
                width: 200px;
                height: 200px;
                
            }

            .card1{
                background-color: greenyellow;
            }
            .card2{
                background-color: orange
            }
            .card3{
                background-color: yellow;
            }
           
        }
    }
}

//FLECHA: SCROLL TO TOP
.to-top{
    background: #0e0d0f;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: all .6s;
    opacity: 0;

    

}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}















.col-6 {width: 50%;}
.col-12 {width: 100%;}