* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #1D1A1F;
  height: 2000vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 104px;
  background: linear-gradient(180deg, #080808 0%, rgba(21, 19, 22, 0) 100%);
  background-size: 100%;
  background-repeat: no-repeat;
}
header .logo {
  text-decoration: none;
}
header .logo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #A259FF;
  font-size: 1.4em;
}
header .hamburguesa_png {
  display: none;
}
header .nav-bar ul {
  list-style: none;
  display: flex;
}
header .nav-bar li {
  margin-left: 40px;
}
header .nav-bar a {
  text-decoration: none;
  color: #ADADAD;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  position: relative;
}
header .nav-bar a:hover {
  color: #ECECEC;
}
header .nav-bar a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: #DDEA4F;
  transition: all 0.5s;
}
header .nav-bar a:hover::before {
  width: 100%;
}

.banner {
  margin-top: 70px;
  display: flex;
  padding: 40px 150px;
  height: 90vh;
}
.banner .nombre {
  margin-top: 150px;
}
.banner .nombre h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(236, 236, 236);
  font-size: 1.3em;
}
.banner .nombre h1 {
  font-size: 7.2em;
  font-family: "Dela Gothic One", sans-serif;
  color: rgb(236, 236, 236);
  text-shadow: -2.5px 2.5px 0px #A259FF, -4.5px 4.5px 0px #DDEA4F;
}
.banner .descripcion_banner p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgb(236, 236, 236);
  font-size: 1.2em;
  margin-top: 15px;
  display: block;
  white-space: nowrap;
  border-right: 3px solid;
  display: inline-block;
  width: 410px;
  animation: typing 4s steps(40), blink 0.5s step-end infinite alternate;
  overflow: hidden;
  color: rgb(236, 236, 236);
}
@keyframes typing {
  from {
    width: 0%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.banner .descripcion_banner span {
  color: rgb(221, 234, 79);
}
.banner .logos_navbar {
  margin-top: 20px;
}
.banner .logos_navbar a:nth-child(1) {
  margin-right: 10px;
}
.banner .logos_navbar img:hover {
  color: #A259FF;
}

.sobre-mi {
  padding: 50px 80px;
}
.sobre-mi .titulo {
  text-align: center;
  font-size: 1.7em;
  font-family: "Dela Gothic One", sans-serif;
  color: #A259FF;
}
.sobre-mi .contenedor_sobremi {
  display: flex;
  margin-top: 50px;
}
.sobre-mi .contenedor_sobremi .descripcion {
  padding: 25px;
}
.sobre-mi .contenedor_sobremi .descripcion .ubicacion {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(236, 236, 236);
  font-size: 1em;
}
.sobre-mi .contenedor_sobremi .descripcion .ubicacion span {
  margin-right: 5px;
}
.sobre-mi .contenedor_sobremi .descripcion .texto_descripcion {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(236, 236, 236);
  margin-top: 20px;
  font-size: 1.2em;
}
.sobre-mi .contenedor_sobremi .descripcion .texto_descripcion p {
  margin-top: 20px;
}
.sobre-mi .contenedor_sobremi .descripcion .texto_descripcion a {
  text-decoration: none;
  color: #A259FF;
}
.sobre-mi .contenedor_sobremi .descripcion .button_cv {
  background-color: none;
  border: 1px solid #DDEA4F;
  margin-top: 50px;
  height: 60px;
  width: 170px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(221, 234, 79);
  transition: all 0.3s;
}
.sobre-mi .contenedor_sobremi .descripcion .button_cv:hover {
  box-shadow: 0 0 6px rgb(221, 234, 79) inset, 0 0 10px 2px rgba(255, 175, 0, 0.5) inset, 0 0 15px 4px rgba(255, 225, 0, 0.4) inset, 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.sobre-mi .contenedor_sobremi .memoji {
  display: flex;
  justify-content: flex-end;
}
.sobre-mi .contenedor_sobremi .memoji video {
  width: 80%;
}

.tecnologias {
  padding: 50px 80px;
}
.tecnologias .titulo {
  text-align: center;
  font-size: 1.7em;
  font-family: "Dela Gothic One", sans-serif;
  color: #A259FF;
}
.tecnologias .texto {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(236, 236, 236);
  margin-top: 40px;
  font-size: 1.2em;
}
.tecnologias .contenedor_tecnologias {
  margin-top: 70px;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
          mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.tecnologias .contenedor_tecnologias .scroll1 {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 16px;
  animation: scroll 40s linear infinite;
}
.tecnologias .contenedor_tecnologias .scroll2 {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 16px;
  animation: scroll2 40s linear infinite;
}
.tecnologias .contenedor_tecnologias .card {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(236, 236, 236);
  color: rgb(236, 236, 236);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: default;
  height: 50px;
  width: 100%;
}

.portfolio {
  padding: 50px 80px;
}
.portfolio .titulo {
  text-align: center;
  font-size: 1.7em;
  font-family: "Dela Gothic One", sans-serif;
  color: #A259FF;
}
.portfolio .galery_portfolio .categorias ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
.portfolio .galery_portfolio .categorias ul li {
  color: rgb(173, 173, 173);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}
.portfolio .galery_portfolio .categorias ul li.active {
  color: rgb(221, 234, 79);
}
.portfolio .galery_portfolio .proyectos_galery {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.portfolio .galery_portfolio .proyectos_galery .card_proyecto {
  width: 200px;
  height: 200px;
}
.portfolio .galery_portfolio .proyectos_galery .card1 {
  background-color: greenyellow;
}
.portfolio .galery_portfolio .proyectos_galery .card2 {
  background-color: orange;
}
.portfolio .galery_portfolio .proyectos_galery .card3 {
  background-color: yellow;
}

.contacto {
  padding: 50px 80px;
}
.contacto .titulo {
  text-align: center;
  font-size: 1.7em;
  font-family: "Dela Gothic One", sans-serif;
  color: #A259FF;
}
.contacto .formulario {
  margin-top: 1000px;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}
.contacto .formulario .contenedor_formulario {
  display: grid;
  gap: 40px;
}
.contacto .formulario .contenedor_formulario .grupo_formulario {
  color: #7c7c7c;
  display: flex;
  flex-direction: column;
}
.contacto .formulario .contenedor_formulario .grupo_formulario input {
  width: 100%;
  background: none;
  color: rgb(236, 236, 236);
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 3px solid #0e0d0f;
  font-family: "Montserrat", sans-serif;
}
.contacto .formulario .contenedor_formulario .grupo_formulario label {
  text-align: start;
  width: 100%;
}
.contacto .formulario .contenedor_formulario .grupo_formulario textarea {
  width: 100%;
  margin-top: 10px;
  background: #0e0d0f;
  color: rgb(236, 236, 236);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
}
.contacto .formulario .contenedor_formulario .button_form {
  background-color: transparent;
  border: 1px solid #DDEA4F;
  color: #DDEA4F;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding: 15px 0;
  border-radius: 10px;
  width: 25%;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  margin-left: auto;
}
.contacto .formulario .contenedor_formulario .button_form:hover {
  box-shadow: 0 0 6px rgb(221, 234, 79) inset, 0 0 10px 2px rgba(255, 175, 0, 0.5) inset, 0 0 15px 4px rgba(255, 225, 0, 0.4) inset, 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.to-top {
  background: #0e0d0f;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: all 0.6s;
  opacity: 0;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 1320px) {
  header {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  header {
    padding: 0 50px;
  }
}
@media (max-width: 950px) {
  header {
    position: static;
  }
  header .hamburguesa_png {
    display: block;
    cursor: pointer;
  }
  header .nav-bar {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 0px;
    width: 100vw;
    transition: 0.5s;
    overflow: hidden;
    background-color: rgba(29, 26, 31, 0.768627451);
  }
  header .nav-bar ul {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 80px auto 0px auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  header .nav-bar li {
    margin: 40px;
  }
  header .nav-bar a {
    margin-bottom: 12px;
    font-size: 1.5em;
  }
  header .nav-bar.active {
    height: 450px;
  }
  header .nav-bar.active ul {
    opacity: 1;
  }
  .banner {
    margin-top: 0;
    display: flex;
    padding: 40px 90px;
  }
  .banner .nombre h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(236, 236, 236);
    font-size: 1em;
  }
  .banner .nombre h1 {
    margin-top: -10px;
    font-size: 5em;
    font-family: "Dela Gothic One", sans-serif;
    color: rgb(236, 236, 236);
    text-shadow: -2.5px 2.5px 0px #A259FF;
  }
  .banner .nombre p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: rgb(236, 236, 236);
    font-size: 0.8em;
    margin-top: 12px;
  }
  .banner .nombre span {
    color: rgb(221, 234, 79);
  }
  .banner .memoji video {
    margin-top: 25px;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .banner video {
    width: 10%;
  }
}
.col-12 {
  width: 100%;
}/*# sourceMappingURL=style.css.map */